/* Common Styles */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light_grey: hsl(217, 12%, 63%);
  --dark_blue: hsl(213, 19%, 18%);
  --very_dark_blue: hsl(216, 12%, 8%);
  --orange: hsl(29, 100%, 48%, 1);
  --dark_grey: hsl(215, 14%, 33%, 1);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--very_dark_blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
}

/* End of Common Styles */

/* CSS Styles for 1st card */

.card {
  width: 26.5rem;
  height: 26.5rem;
  background-color: var(--dark_blue);
  padding: 1rem;
  position: relative;
  border-radius: 1.2rem;
}

.hidden {
  display: none;
}

.star-container {
  background-color: var(--dark_grey);
  border-radius: 100%;
  width: 2.8rem;
  height: 2.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

.star-container i {
  color: var(--orange);
}

.card-title {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 700;
}

.card-text {
  color: var(--light_grey);
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.rating-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  /* transform: translateX(-5%) */
}

.rating-container button {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  background-color: var(--dark_grey);
  border: none;
  outline: none;
  color: var(--light_grey);
  font-weight: 700;
  margin-right: 1.5rem;
}

.btn {
  text-transform: uppercase;
  width: 100%;
  border-radius: 4rem;
  border: none;
  outline: none;
  padding: 0.6rem 0;
  font-weight: 700;
  background-color: var(--orange);
}

.rating-container button:hover {
  background-color: var(--orange);
  color: var(--dark_blue);
}


.rating-container button:active,
.rating-container button:focus,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--white);
}

/* End of CSS Styles for 1st card */

/* CSS Styles for 2nd card */

.image-container {
  display: grid;
  place-items: center;
}

.image-container img {
  width: 10rem;
}

.score {
  background-color: var(--dark_grey);
  width: 15rem;
  margin: 1rem auto 1.5rem auto;
  padding: 0.1rem 0;
  border-radius: 4rem;
}

.score p {
  color: var(--orange);
  text-align: center;
  transform: translateY(50%);
  font-weight: 400;
}

.card-2 h5 {
  font-weight: 400
}

.card-2 h5,
.card-2 p {
  text-align: center;
}

.card-2 p.card-text {
  margin: 0;
}
/* End of CSS Styles for 2nd card */

/* Responsive */

@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 85%;
  }
}



/* End of Responsive */
